<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="flex fixTableWidth">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header cardHeaderColor">
              <div class="row">
                <div class="col-2"><button mat-flat-button (click)="getProviders()"><i class="fa-solid fa-spinner updateButton"></i>
                    Actualizar</button></div>
                <div class="col-2 offset-6"><button mat-flat-button (click)="addProvider()"><i
                      class="fa-solid fa-circle-plus createProviderButton"></i> Agregar Elemento </button></div>
                <div class="col-2"><button mat-flat-button (click)="printProvider()"><i class="fa-solid fa-print printButton"></i>
                    Imprimir Elemento </button></div>
              </div>
            </div>
            <div class="card-body">
              <table mat-table [dataSource]="dataSource" class="extendElement">
                "name", "trade_name", "address",
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="trade_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Rázon Social </th>
                  <td mat-cell *matCellDef="let element"> {{element.trade_name}} </td>
                </ng-container>
                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef> Editar </th>
                  <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="editProvider(element)"> <i
                        class="fa-regular fa-pen-to-square editButton"></i></button> </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                  <td mat-cell *matCellDef="let element"> <button mat-flat-button (click)="deleteProvider(element)"><i
                        class="fa-regular fa-trash-can deleteButton"></i></button> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalProviders" showFirstLastButtons
                aria-label="Seleccionar cantidad para mostrar">
              </mat-paginator>
            </div>
          </div>
        </div>
        <div class="col-2 offset-10">
          <button mat-flat-button extended color="primary" (click)="goBack()" class="extendElement"> Regresar</button>
        </div>
      </div>
    </div>
  </div>