<div class="container">
  <div class="animated fadeIn">
    <div class="flex">
      <div class="row justify-content-center">
        <div class="col-6 ">
          <div class="card">
            <div class="card-header cardHeaderColor">
              <div class="row">
                <div class="col-6"><strong>e-Commerce GAPSI</strong></div>
                <div class="col-6 textToRight">
                  <button mat-mini-fab color="secondary" [matMenuTriggerFor]="menu"> <i
                      class="fa-solid fa-ellipsis-vertical"></i> </button>
                </div>
              </div>
            </div>
            <div class="card-body textToCenter">
              <div class="row">
                <div class="col-12 profileImageHolder">
                  <img [src]="profileImage" class="rounded-circle profileImage">
                </div>
                <div class="col-12">
                  <p>Bienvenido Candidato {{candidateId}}</p>
                </div>
                <div class="col-12">
                  <button mat-flat-button (click)="goToMain()" color="primary"> Continuar </button>
                </div>
                <div class="col-12 textToRight">
                  <span>version {{version}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="about()">Acerca de este proyecto</button>
</mat-menu>